<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- site metas -->
      <title>主页</title>
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
      <!-- header -->
      <header>
         <ul>
             <li><a href="/index"><b>主页</b></a></li>
             <li><a href="/doubanmovie">豆瓣电影</a></li>
             <li><a href="/imdbmovie">imdb电影</a></li>
             <li><a href="/scorecompare">数据对比</a></li>
             <li><a href="/word">词云</a></li>
             <li><a href="/recommov">选电影</a></li>
             <li><a href="/messageCenter">留言</a></li>
         </ul>
     </header>
      <!-- end header -->
              <!-- protect -->
      <div class="protect">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>豆瓣top250</h2>
                     <p>使用 python爬虫 echarts 数据库 前端 豆瓣250top 图形化显示
                     </p>
                  </div>
               </div>
            </div>
         </div>
           <div class="protect_bg">
         <div class="container">
             <div class="row">
               <div class="col-md-12">
                  <!--  Demos -->
                  <div class="owl-carousel owl-theme">
                     <div class="item">
                        <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro1.png" alt="#"/></i>
                           <h3> 豆瓣电影 </h3>
                           <span> 豆瓣电影的详细信息</span>
                          </div>
                           <a class="read_more" href="/doubanmovie">Read More</a>
                        </div>
                     </div>
                     <div class="item">
                        <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro2.png" alt="#"/></i>
                           <h3> imdb电影 </h3>
                           <span> imdb电影的详细信息</span>
                          </div>
                           <a class="read_more" href="/imdbmovie">Read More</a>
                        </div>
                     </div>
                     <div class="item">
                          <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro4.png" alt="#"/></i>
                           <h3> 数据比较</h3>
                           <span>使用echarts图形化显示电影数据</span>
                          </div>
                           <a class="read_more" href="/scorecompare">Read More</a>
                        </div>
                     </div>
                     <div class="item">
                         <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro3.png" alt="#"/></i>
                           <h3>词云</h3>
                           <span> 对豆瓣电影字段截取后形成的词云</span>
                          </div>
                           <a class="read_more" href="/word">Read More</a>
                        </div>
                     </div>
                     <div class="item">
                        <div class="protect_box text_align_center">
                         <div class="desktop">
                            <i><img src="static/assets/images/pro5.png" alt="#"/></i>
                          <h3>选电影</h3>
                          <span> 根据你的选择推荐给你喜欢电影</span>
                         </div>
                          <a class="read_more" href="/recommov">Read More</a>
                       </div>
                    </div>
                    <div class="item">
                     <div class="protect_box text_align_center">
                      <div class="desktop">
                         <i><img src="static/assets/images/pro6.png" alt="#"/></i>
                       <h3>留言板</h3>
                       <span> 写下你的留言吧</span>
                      </div>
                       <a class="read_more" href="/messageCenter">Read More</a>
                    </div>
                 </div>
                  </div>
               </div>
            </div>
          </div>
      </div>
         </div>
      </div>
      <!-- end protect -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/assets/js/jquery.min.js"></script>
      <script src="static/assets/js/bootstrap.bundle.min.js"></script>
      <script src="static/assets/js/owl.carousel.min.js"></script>
      <script src="static/assets/js/custom.js"></script>
   </body>
</html>