<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- site metas -->
      <title>词云</title>
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
      <!-- header -->
      <header>
         <ul>
             <li><a href="/index"><b>主页</b></a></li>
             <li><a href="/doubanmovie">豆瓣电影</a></li>
             <li><a href="/imdbmovie">imdb电影</a></li>
             <li><a href="/scorecompare">数据对比</a></li>
             <li><a href="/word">词云</a></li>
             <li><a href="/recommov">选电影</a></li>
             <li><a href="/messageCenter">留言</a></li>
         </ul>
     </header>
      <!-- end header -->
     
      <workArea>
         <div class="imagebox" style="margin-top: 35px;">
            <div class="container">
               <div class="row d_flex grid">
                  <div class="col-md-7">
                     <div class="img">
                        <figure><img src="/static/assets/images/word.png" alt="#"/></figure>
                     </div>
                  </div>
                  <div class="col-md-5 oder1">
                     <div class="titlepage text_align_left">
                        <h2>词云</h2>
                        <p>“词云”这个概念由美国西北大学新闻学副教授、新媒体专业主任里奇·戈登（Rich Gordon）提出。“词云”就是对网络文本中出现频率较高的“关键词”予以视觉上的突出，形成“关键词云层”或“关键词渲染”，从而过滤掉大量的文本信息，使浏览网页者只要一眼扫过文本就可以领略文本的主旨。
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </workArea>







      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">

            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.<a target="_blank" >luoguo</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
   </body>
</html>